@import "./rose-pine.css";

* {
        all: unset;
        font-size: 0.9rem;
        font-family: "DepartureMono Nerd Font";
        font-weight: 700;
}

window#waybar {
    background-color: @bg;
    border-bottom: 2px solid @rose;
}

#workspaces {
}

#workspaces button {
    background-color: @iris;
    color: #191725;
    min-width: 50px;
    margin: 10px;
    border-radius: 10px;
}
#workspaces button.active {
        min-width: 75px;
        background-color: @rose;
}

#workspaces button.urgent {
        color: @love;
}

#clock {
        font-size: 1.3rem;
        font-weight: 700;
}

#cpu {
        margin: 0 0 0 0;
}
