@import "./gruvbox.css";

* {
        all: unset;
        font-size: 0.9rem;
}

window#waybar {
    background-color: @base;
}

#workspaces {
}

#workspaces button.active {
        color: @rose;
}

#workspaces button.urgent {
        color: @love;
}

#clock {
        font-size: 1.3rem;
        font-weight: 500;
}

#cpu {
        margin: 0 0 0 0;
}
