@import "./gruvbox.css";

* {
        all: unset;
        font-size: 0.9rem;
}

window#waybar {
    background-color: @bg;
    border-bottom: 2px solid @purple1;
}

#workspaces {
}

#workspaces button {
    background-color: @bg1;
    min-width: 75px;
    margin: 10px;
    border-radius: 10px;
}
#workspaces button.active {
        min-width: 100px;
        background-color: @aqua1;
}

#workspaces button.urgent {
        color: @love;
}

#clock {
        font-size: 1.3rem;
        font-weight: 500;
}

#cpu {
        margin: 0 0 0 0;
}
